<div class="printable-cv">
  <div class="sidebar-content">
    <div class="thumb section">
      <img class="avatar" src="./img/avatar.jpg" alt="avatar" />
    </div>

    <section class="contacts-section section">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <svg class="contacts-list-icon">
            <use href="./img/sprite.svg#icon-call"></use>
          </svg>
          <div>
            <a class="contacts-list-link" href="tel:+48517243808"
              >+48 517 243 808</a
            >
            <p class="contacts-list-text">
              <a
                href="https://t.me/yurii_corssa"
                target="_blank"
                rel="noopener noreferrer"
                >Telegram</a
              >
              |
              <a
                href="https://wa.me/48517243808"
                target="_blank"
                rel="noopener noreferrer"
                >WhatsApp</a
              >
            </p>
          </div>
        </li>

        <li class="contacts-list-item">
          <svg class="contacts-list-icon">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a class="contacts-list-link" href="mailto:yurii.corssa@gmail.com"
            >yurii.corssa@gmail.com</a
          >
        </li>

        <li class="contacts-list-item">
          <svg class="contacts-list-icon">
            <use href="./img/sprite.svg#icon-linkedin"></use>
          </svg>
          <a
            class="contacts-list-link"
            href="https://www.linkedin.com/in/yurii-tsyhanok/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </li>

        <li class="contacts-list-item">
          <svg class="contacts-list-icon">
            <use href="./img/sprite.svg#icon-github"></use>
          </svg>
          <a
            class="contacts-list-link"
            href="https://github.com/yurii-corssa"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>

        <li class="contacts-list-item">
          <svg class="contacts-list-icon">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <div>
            <a
              class="contacts-list-link"
              href="https://goo.gl/maps/LfFp3GBugDtKNqMz9"
              target="_blank"
              rel="noopener noreferrer"
              >Goleniow, Poland
            </a>
            <p class="contacts-list-text">(willing to relocate)</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="tech-skills-section section">
      <h2 class="title">Tech Skills</h2>

      <ul class="skills-list js-tech-skills"></ul>
    </section>

    <section class="soft-skills-section section">
      <h2 class="title">Soft Skills</h2>

      <ul class="skills-list js-soft-skills"></ul>
    </section>

    <section class="languages-section section">
      <h2 class="title">Languages</h2>

      <ul class="skills-list js-languages"></ul>
    </section>
  </div>

  <div class="main-content">
    <section class="title-section section">
      <h1 class="main-title">Yurii Tsyhanok</h1>
      <h2 class="secondary-title title js-job-title"></h2>
    </section>

    <section class="summary-section section">
      <h2 class="title">Summary</h2>
      <p class="summary-text js-summary"></p>
    </section>

    <section class="project-experience-section section">
      <h2 class="title">Project Experience</h2>
      <ul class="project-experience-list">
        <li class="project-experience-list-item js-project-item js-first"></li>
        <li class="project-experience-list-item js-project-item js-second"></li>
        <li class="project-experience-list-item js-project-item js-third"></li>
        <li class="project-experience-list-item js-project-item js-fourth"></li>
        <li class="project-experience-list-item js-project-item js-fifth"></li>
      </ul>
    </section>

    <section class="work-experience-section section">
      <h2 class="title">Work Experience</h2>
      <ul class="work-experience-list">
        <li class="work-experience-list-item">
          <h3 class="subtitle">
            Ceva Logistics | Warehouse Worker
            <span class="period">(nov 2022 - today)</span>
          </h3>

          <p class="work-experience-text">
            Responsibilities: Sorting parcels by destination; Loading and
            dispatching transportation; Control of compliance of sent parcels
            with the system.
          </p>

          <p class="work-experience-text">
            Achievement: Developed an app for efficient and fair employee
            distribution in warehouse operations, automating work processes;
            Implemented packaging process optimizations, resulting in
            significant cost savings on shipping for the company.
          </p>
        </li>
      </ul>
    </section>

    <div class="education-section section">
      <h2 class="title">Education</h2>
      <ul class="education-list">
        <li class="education-list-item">
          <h3 class="subtitle">
            IT School GoIT | Full Stack Developer
            <span class="period">(jan 2023 - dec 2023)</span>
          </h3>
          <p class="education-list-text">
            Achievement: During a team project, I was selected by the team as
            the Frontend Team Lead.
          </p>
        </li>
        <li class="education-list-item">
          <h3 class="subtitle">
            Higher Vocational School of Shipbuilding | Shipbuilder
            <span class="period">(sept 2009 - jun 2012)</span>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
