a {
  transition: color 250ms ease;
}

a:hover {
  color: var(--primary-color);
}

.section {
  margin-bottom: 1.3rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15rem;

  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.cv {
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.printable-cv {
  display: grid;
  grid-template-columns: min-content 1fr;

  font-size: 0.7rem;

  width: 49.61rem;
  height: 70.16rem;
  margin: 0 auto;
  padding: 2rem;

  background-color: var(--bg-cv-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow: hidden;
}

.sidebar-content {
  position: relative;
  padding-right: 2rem;
}

.sidebar-content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.08rem;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.6;
  border-radius: 0.04rem;
}

.thumb {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(2%, 10%) scale(1.4);
}

.contacts-list {
  color: var(--title-color);
}

.contacts-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  line-height: 1rem;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.contacts-list-icon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;

  fill: var(--primary-color);
}

.contacts-list-text {
  font-size: 0.85em;
  color: var(--text-color);
}

.skill-list-item {
  position: relative;
  padding-left: 1.2rem;
  text-wrap: nowrap;
}

.skill-list-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.3rem;
  aspect-ratio: 1 / 1;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--primary-color);
}

.main-content {
  padding-left: 2rem;
}

.main-title {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
  margin-bottom: 1.3rem;
  line-height: 1.5rem;
}

.secondary-title {
  text-transform: capitalize;
  margin: 0;
}

.summary-text {
  text-align: justify;
}

.project-experience-list-item {
  text-align: justify;
  margin-bottom: 0.5rem;
}

.project-links:first-child {
  color: var(--primary-color);
  font-weight: 600;
  transition: filter 250ms ease;
}

.project-links:first-child:hover {
  filter: brightness(90%);
}

.desc-text {
  display: inline;
}

.subtitle {
  color: var(--primary-color);
  font-size: inherit;
  font-weight: 600;
}

.period {
  color: var(--text-color);
  font-size: 0.8em;
  font-style: italic;
}

.work-experience-text {
  text-align: justify;
}

.education-list-item {
  margin-bottom: 0.5rem;
}
