.cv-forms {
  display: flex;
  justify-content: space-around;

  padding: 20px;
}

.sidebar-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job-name-input,
.summary-input,
.project-input,
.company-name-input,
.color-picker {
  display: block;
  width: 100%;
}

.drag-handle {
  cursor: grab;
  margin-right: 10px;
}

.project-label {
  display: block;
}

.skill-items {
  display: block;
}

.input-wrapper {
  display: flex;
}
