/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* * {
  size: -1.34%
  font-size: 13.6px
  font-size: 10px
  font-size: 0.625rem
} */

@import url('./reset.css');
@import url('./cv.css');

:root {
  --text-color: #737373;
  --title-color: #241d19;
  --main-title-color: #797576;

  --bg-color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0.02rem;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
