/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./cv.css');
@import url('./form.css');

:root {
  --primary-color: #4a4e69;
  --text-color: #737373;
  --title-color: #241d19;
  --main-title-color: #797576;
  --bg-cv-color: #fff;
  --bg-color: #f3f3f3;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0.02rem;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100vw;
  height: 100vh;

  padding: 20px 15px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable-cv,
  .printable-cv * {
    visibility: visible;
  }

  .printable-cv {
    position: absolute;
    left: 0;
    top: 0;

    box-shadow: none;
  }
}
